# Designando Revisores de diretórios do repositório para designação automática ao criar Pull Requests

* @thiagopac @rodolfoiannazzo @dawkk @LopeszD @andreo-san @jozimarSantos
/docs/ @thiagopac @rodolfoiannazzo @dawkk @LopeszD @andreo-san @jozimarSantos
/presentation/ @thiagopac @rodolfoiannazzo @dawkk @LopeszD @andreo-san @jozimarSantos
/src/ @thiagopac @rodolfoiannazzo @dawkk @LopeszD @andreo-san @jozimarSantos