#Determinando revisores de diretórios do repositório para designação automática ao criar Pull Requests

* @thiagopac @rodolfoiannazzo @LopeszD @jozimarSantos
/docs/ @thiagopac @rodolfoiannazzo @LopeszD @jozimarSantos
/presentation/ @thiagopac @rodolfoiannazzo @LopeszD @jozimarSantos
/src/ @thiagopac @rodolfoiannazzo @LopeszD @jozimarSantos