.search-card {
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 4px 10px 15px rgba(72, 181, 244, 0.3);
  width: 80%;
  padding: 1rem;
  position: relative;
  top: 50px;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7rem;
}

.input-group-prepend {
  margin: 0 10px 0 10px;
}

.input-group-text {
  border: none;
  background: transparent;
  margin: 0 20px 0 0;
  text-align: start;
}

.search-btn {
  background-color: #367cff;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  gap: 10px;
  outline: none;
}
