.search-card {
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 4px 10px 15px rgba(72, 181, 244, 0.3);
  width: 80%;
  padding: 1rem;
  position: relative;
  top: 50px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7rem;
}

.input-group-prepend {
  margin: 0 10px 0 10px;
}

.input-group-text {
  border: none;
  background: transparent;
  margin: 0 20px 0 0;
  text-align: start;
}

.search-btn {
  background-color: #367cff;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  gap: 10px;
  outline: none;
}

.list {
  list-style-type: none;
  padding: 10px;
  line-height: 24px;
}

.icon-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  color: white;
}

.added-at {
  font-size: 0.8rem;
  color: #a0a0a0;
}

.menu {
  padding: 0 10px;
}

.menu-item {
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  margin-bottom: 20px;
}

.menu-item i {
  font-size: 24px;
  display: block;
}

.menu-item hr {
  margin-top: 10px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.menu-text {
  text-align: center;
}

.project-details {
  padding-left: 15px;
  margin-left: -20px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 80px;
}

.project-info h5 {
  font-weight: 600;
  color: #333;
  margin-top: 20px;
}

.project-info p {
  margin-bottom: 10px;
}
