@{
    ViewData["Title"] = "Gerenciar projetos";
}

<div class="home-content mb-5">
    <div class="top-bar d-flex align-items-center">
        <div class="w-100 text-center fs-1 fw-bold text-white">Termos de Uso</div>
    </div>

    <div class="container content-container mt-5">
    <div class="row">

        <div class="col-md-12">
            <div class="w-75">
                <h5 class="mb-4 fw-bold text-dark-blue">Termos de Uso</h5>
                
                <div class="mb-3 pt-3">
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies ultricies.
                    </p>
                </div>
        </div>

    </div>
</div>

<link rel="stylesheet" href="~/css/termos.css?t=@DateTime.Now" asp-append-version="true" />