@model TalentHub.Models.Projeto

@{
    ViewData["Title"] = "Detalhes do Projeto";
}


<div class="details-content mb-5">
    <div class="top-bar d-flex align-items-center">
        <div class="w-100 text-center fs-1 fw-bold text-white mb-5">Criar novo projeto</div>
    </div>

    <div class="search-container">
        <div class="search-card py-4 px-4">
            <div class="input-group d-flex align-items-center">
                <div class="input-group-prepend">
                    <span>
                        <img src="~/images/magnifier@100x100.png" alt="Buscar" height="50" />
                    </span>
                </div>
                <input type="text" class="form-control input-group-text encoded-sans fw-600 fs-55"
                    placeholder="Busque por um projeto" aria-label="Busque por um projeto"
                    aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <button class="search-btn d-flex justify-content-between align-items-center" type="button">
                        <img src="~/images/paper-plane@100x100.png" alt="Buscar" height="34" class="me-3" />
                        <div class="text-center fs-5 me-5 encoded-sans fw-600">Buscar</div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 mt-5 pt-5">
            <div class="menu-text">
                <div class="menu-item">
                    <i class="fas fa-star text-primary"></i>
                    <div class="text-primary">Avaliar Projeto</div>
                    <hr>
                </div>
                <div class="menu-item">
                    <i class="fas fa-pencil-alt text-primary"></i>
                    <div class="text-primary">Fazer anotação</div>
                    <hr>
                </div>
                <div class="menu-item">
                    <i class="fab fa-github text-primary"></i>
                    <div class="text-primary">Repositório</div>
                    <hr>
                </div>
                <div class="menu-item">
                    <i class="fas fa-address-book text-primary"></i>
                    <div class="text-primary">Contato</div>
                    <hr>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-7">
        <div class="project-details p-4">
            <h1 class="h3 mb-2">Lorem ipsum dolor sit amet</h1>
            <div class="d-flex align-items-center mb-3">
                <div class="icon-wrapper bg-danger me-3">
                    <i class="fas fa-heartbeat text-white"></i>
                </div>
                <label class="fs-7 text-danger">Saúde</label>
                <div>
                    <small class="rating-number">Visualizações: 500</small>
                    <div class="rating-stars d-flex align-items-center mt-2">
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star-half-alt text-warning"></i>
                        <span class="ms-2 text-warning">4.5</span>
                    </div>
                </div>
            </div>
            <div class="project-info">
                <h5>Detalhes do Projeto</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nisi interdum massa malesuada
                    efficitur. Maecenas eu lacinia tortor. Nullam auctor tristique convallis. Sed convallis placerat
                    nisl, quis iaculis elit lacinia in. Class aptent taciti sociosqu ad litora torquent per conubia
                    nostra, per inceptos himenaeos. Nulla quis mollis leo, vel porttitor tellus. Vivamus a vehicula
                    mi, et vulputate diam. Pellentesque non metus quis ex ullamcorper egestas. Praesent dui ante,
                    efficitur at vestibulum sit amet, ornare egestas nibh.

                    Sed viverra commodo justo id cursus. Etiam mattis quam eget venenatis dignissim. Nam nec finibus
                    mi, non ullamcorper sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia curae; Nam tellus augue, ornare vulputate nisl ac, congue pretium nibh.
                    Suspendisse purus tortor, porttitor at lorem tempor, tempor gravida ipsum. Sed ut aliquet
                    sapien, eu posuere urna. Aenean molestie quam porttitor quam posuere, eget finibus massa
                    ultrices. Donec tincidunt, mi ut molestie scelerisque, massa mi condimentum felis, vitae
                    pharetra risus odio vulputate sem. Praesent egestas congue pharetra. In a iaculis nibh.</p>
                <h5>Integrantes do Projeto</h5>
                <p>Fulano, Ciclano, Beltrano</p>
                <h5>Ano e Período/Eixo</h5>
                <p>2024/2</p>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.IdProjeto">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>


<link rel="stylesheet" href="~/css/projetos.css?t=@DateTime.Now" asp-append-version="true" />