@model TalentHub.Models.Projeto

@{
    ViewData["Title"] = "Detalhes do Projeto";
}


<div class="details-content mb-5">
    <div class="top-bar d-flex align-items-center">
        <div class="w-100 text-center fs-1 fw-bold text-white mb-5">Criar novo projeto</div>
    </div>

    <div class="search-container">
        <div class="search-card py-4 px-4">
            <div class="input-group d-flex align-items-center">
                <div class="input-group-prepend">
                    <span>
                        <img src="~/images/magnifier@100x100.png" alt="Buscar" height="50" />
                    </span>
                </div>
                <input type="text" class="form-control input-group-text encoded-sans fw-600 fs-55"
                    placeholder="Busque por um projeto" aria-label="Busque por um projeto"
                    aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <button class="search-btn d-flex justify-content-between align-items-center" type="button">
                        <img src="~/images/paper-plane@100x100.png" alt="Buscar" height="34" class="me-3" />
                        <div class="text-center fs-5 me-5 encoded-sans fw-600">Buscar</div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 mt-5 pt-5">
            <div class="menu text-center">
                <div class="menu-item">
                    <i class="fas fa-star text-primary"></i>
                    <div class="text-primary">Avaliar Projeto</div>
                    <hr>
                </div>
                <div class="menu-item">
                    <i class="fas fa-pencil-alt text-primary"></i>
                    <div class="text-primary">Fazer anotação</div>
                    <hr>
                </div>
                <div class="menu-item">
                    <i class="fab fa-github text-primary"></i>
                    <div class="text-primary">Repositório</div>
                    <hr>
                </div>
                <div class="menu-item">
                    <i class="fas fa-address-book text-primary"></i>
                    <div class="text-primary">Contato</div>
                    <hr>
                </div>
            </div>
        </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.IdProjeto">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>


<link rel="stylesheet" href="~/css/projetos.css?t=@DateTime.Now" asp-append-version="true" />